:root {
    background-color: #242424;
    color-scheme: light dark;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
    font-synthesis: none;

    font-weight: 400;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    min-width: 320px;
    place-items: center;
}
